<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spanpatte.thelatestmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:icon="@drawable/imdb"
        android:label="@string/app_name"
        android:theme="@style/Theme.TheLatestMovies"


        tools:targetApi="31">
        <activity
            android:name="com.spanpatte.thelatestmovies.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spanpatte.thelatestmovies.moviefeature.presentation.views.MovieDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.spanpatte.thelatestmovies.moviefeature.presentation.views.MovieListViewActivity"
            android:exported="true" />
    </application>

</manifest>